:root {
    --color-blue: #25476a;
    --color-blue-1: #25476a;
    --color-blue-2: #25476a;
    --color-light: #ffffff;
    --color-light-gray: #edf1f6;
    --color-green: #0b9c4b;
}

.m-layout {
    color: black;
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue);
    height: 100vh;
}

/*Header*/
.m-header {
    width: 100%;
    background-color: var(--color-blue);
    color: var(--color-light);
    font-weight: 500;
    /*display*/
    display: flex;
}

.m-logo-container {
    width: 230px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 60px;
}

.m-logo {
    max-height: 30px;
}

.m-header-menu{
    display: flex;
    align-items: center;
    gap: 1100px;
}
/*Body*/
.m-body {
    display: flex;
    color: var(--color-light);
    font-weight: 400;
    background-color: var(--color-blue);
    height: 100%;
}

/*Menu*/
.m-menu {
    width: 220px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--color-light);
}

.m-menu-item {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    max-width: 220px;
}

.m-menu-text {
    font-size: small;
    font-weight: 700;
    color: var(--color-blue);
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

.m-menu-text:hover {
    color: white;
    background-color: var(--color-blue);
    border-radius: 6px;
    font-weight: 500;
}

.m-menu-text.default {
    color: white;
    background-color: var(--color-blue);
    border-radius: 6px;
    font-weight: 500;
}

/*Content*/
.m-content-container {
    width: 100%;
}

.m-content-header {
    border-bottom: 10px;
    background-color: var(--color-blue);
    height: 20%;
    border-radius: 10px;
    /* display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.m-content {
    width: 100%;
    color: black;
    background-color: var(--color-light-gray);
    height: 80%;
    /* display*/
    display: flex;
    justify-content: center;
    align-items: center;

}